<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">title</th>
      <th scope="col">jingalala</th>
      <th scope="col">time</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in alltodo %}
       <tr>
      <th scope="row">{{todo.sno}}</th>
      <td>{{todo.title}}</td>
      <td>{{todo.desc}}</td>
      <td>{{todo.date_created}}</td>
    </tr>
    
    {% endfor %}
   
  </tbody>

</body>
</html>