{% extends "base.html" %}

{% block title %}Home - TODO App{% endblock %}

{% block head %}
  <style>
    body { background-color: #f8f9fa; }
  </style>
{% endblock %}

{% block content %}
  <h1>Welcome to your TODO app</h1>
   <form method="POST" action="/data">

    <div class="mb-3">

        <label for="exampleFormControlInput1" class="form-label">TODO LIST</label>

        <input type="text" name="title" class="form-control" id="exampleFormControlInput1"

            placeholder="anything at all" value="{{title or ''}}" required>

    </div>

    <div class="mb-3">

        <label for="exampleFormControlTextarea1" class="form-label">Description</label>

       <textarea name="desc" class="form-control" rows="3" required>{{ desc or '' }}</textarea>

       </div>

  <input type="submit" value="{% if title and desc %}Update{% else %}Submit{% endif %}" class="btn btn-primary">

</form>
{% endblock %}